* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Jost', sans-serif;
}

:root {
    --color2: #EB2546;
    --color1: #FF3456;
    --color3: #A3A2A3;
    --color4: #FFFFFF;
    --color5: #141617;
    --color6: #252627;
}

/*----------------------- Body -----------------------*/
body {
    font-weight: 300;
    color: var(--color5);
    background: var(--color6);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

/*----------------------- NavBar ------------------ -----*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color5);
    width: 100%;
    z-index: 100;
}

.logo {
    margin-left: 20px;
}

.logo a img {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 60px;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    color: var(--color1);
    margin-top: 10px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.navIcon {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.navbar-links ul {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar-links ul li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar-links .nav-item a::before {
    content: "";
    height: 3px;
    width: 0%;
    background: var(--color1);
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.3s ease-out;
}

.navbar-links .nav-item a:hover::before {
    width: 100%;
}

/**DropDown**/
ul li ul.dropdown {
    width: 180px;
    padding: 10px;
    background: var(--color5);
    position: absolute;
    display: none;
}

ul li:hover ul.dropdown {
    display: block;
}

/*Icon */
.icon-link {
    font-size: 1.3em;
    margin-right: 5px;
    color: var(--color4);
    text-decoration: none;
}

.icon-link:hover {
    color: var(--color2);
}



/*----------------------- Content -----------------------*/
.content {
    padding: 50px;
    display: flex;
    position: absolute;
}

.table-btn {
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*----------------------- Footer -----------------------*/

footer {
    background-color: var(--color4);
    color: var(--color4);
    font-size: 14px;
    bottom: 0;
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    width: 100%;
    margin-top: auto;
}

.footContainer {
    padding-top: 1em;
    text-align: center;
    margin-top: auto;
    bottom: 0;
}

.footerRow {
    color: var(--color4);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(0deg, var(--color5) 10%, var(--color1) 90%);
}

.grid1 img {
    display: flex;
    width: 80px;
}

.list-unstyled li a ion-icon {
    width: 50px;
}

.copyright {
    color: var(--color3);
    text-align: center;
    background: var(--color5);
}

@media screen and (min-width: 1000px) {
    footContainer {
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: 0;
        height: 80px;
    }
}

/* Pantallas pequeñas (1 tarjeta por línea) */
@media screen and (max-width: 767px) {
    .card-wrapper {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}

/* Pantallas medianas (2 tarjetas por línea) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .card-wrapper {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

/* Pantallas grandes (3 tarjetas por línea) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .card-wrapper {
        flex: 0 0 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

/* Pantallas extra grandes (4 tarjetas por línea) */
@media screen and (min-width: 1200px) {
    .card-wrapper {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

@media screen and (max-width: 1056px) {
    .hamburger-menu {
        display: inline-flex;
        margin-left: 30px;
    }
}

/**********************************************************/
.contenedorS {
    display:grid;
    justify-content: center;
    align-items: center;

    padding: 30px 30px;
}

.buscador {
    display: flex;
    align-items: center;
    background-color: var(--color4);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    flex-grow: 1;
}

select {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
}

button {
    border: none;
    outline: none;
    background-color: var(--color1);
    color: var(--color4);
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

button:hover {
    background-color: var(--color2);
    color: var(--color5);
}