* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Jost', sans-serif;
}

:root {
    --color2: #E30845;
    --color1: #FF3456;
    --color3: #A3A2A3;
    --color4: #FFFFFF;
    --color5: #141617;
    --color6: #252627;
}

/*----------------------- Body -----------------------*/
body {
    font-weight: 300;
    color: var(--color5);
    background: var(--color6);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/*----------------------- NavBar ------------------ -----*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color5);
    padding: 0 10px;
    width: 100%;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    color: var(--color1);
    width: 100%;
}

.right-items {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 5px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 2px 0;
}

.nav-link:hover,
.nav-link.active {
    color: var(--color4);
}

.logo {
    margin-left: 30px;
}

.logo a img {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 50px;
}

.store-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 50%;
}

.store-links .nav-link {
    font-size: 5px;
}


.icon-link {
    color: var(--color4);
    text-decoration: none;
    margin-right: 15px;
    font-size: 24px;
    /* Agregar esta línea para aumentar el tamaño del icono del carrito */
}

.icon-link:hover {
    color: var(--color1);
}

.nav-drop .dropdown-toggle {
    font-size: 24px;
}

.nav-drop {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color5);
    padding: 0.5rem 0;
    min-width: 10rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: var(--color4);
    background-color: var(--color4);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--color1);
    text-decoration: none;
    background-color: var(--color6);
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid var(--color3);
}


.store-links .nav-item a {
    display: block;
    padding: 5px 5px;
    color: var(--color4);
    text-decoration: none;
    font-size: 20px;
    position: relative;
    /* Agregar esta línea */
}

.store-links .nav-item a::before {
    content: "";
    height: 3px;
    width: 0%;
    background: var(--color1);
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.3s ease-out;
}

.store-links .nav-item a:hover::before {
    width: 100%;
    color: var(--color1);
}

@media screen and (min-width: 1000px) {
    footContainer {
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: 0;
        height: 80px;
    }
}


/*----------------------- Content -----------------------*/
.content {
    padding: 50px;
    display: flex;
    position: absolute;
}

.table-btn {
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color4);
    background-color: #eee;
}

/*---------------------- Footer -----------------------*/
footer {
    background-color: var(--color4);
    color: var(--color4);
    font-size: 14px;
    bottom: 0;
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    width: 100%;
    margin-top: auto;
}

.footContainer {
    padding-top: 1em;
    text-align: center;
    margin-top: auto;
    bottom: 0;
}

.footerRow {
    color: var(--color4);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(0deg, var(--color5) 10%, var(--color1) 90%);
}

.grid1 img {
    display: flex;
    width: 80px;
}

.list-unstyled li a ion-icon {
    width: 50px;
}

.copyright {
    color: var(--color3);
    text-align: center;
    background: var(--color5);
}

@media screen and (min-width: 1000px) {
    footContainer {
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: 0;
        height: 80px;
    }
}

/* Pantallas pequeñas (1 tarjeta por línea) */
@media screen and (max-width: 767px) {
    .card-wrapper {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}

/* Pantallas medianas (2 tarjetas por línea) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .card-wrapper {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

/* Pantallas grandes (3 tarjetas por línea) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .card-wrapper {
        flex: 0 0 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

/* Pantallas extra grandes (4 tarjetas por línea) */
@media screen and (min-width: 1200px) {
    .card-wrapper {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

/*****************************************************************************************/

/*-----------------------HOME----------------------------------*/

/**Carrusel**/

.carousel-img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.carousel-item.active {
    opacity: 1;
    position: relative;
}

.card-container .rowHome {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .carousel-img {
        height: 500px;
    }
}

@media (max-width: 992px) {
    .carousel-img {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .carousel-img {
        height: 300px;
    }
}


/*----------------------- Login -----------------------*/

/* Layout */
.bgImage {
    background: url(../images/bg.avif) no-repeat center;
    background-image: linear-gradient(rgba(7, 0, 0, 0.5), var(--color6)), url(../images/bg.avif);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLogin h1 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 30px;
}

.boxLogin img {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 60px;
}

.boxLogin {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.boxLogin p {
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.boxLogin form {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.boxLogin .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
    padding: 0;
}

.boxLogin .form-group label {
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 2px solid #eee;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.boxLogin form button {
    background-color: var(--color2);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 30px;
}

.boxLogin form button:hover {
    background-color: var(--color6);
}

.loginLink a {
    color: var(--color1);
    text-decoration: none;
    margin-bottom: 20px;
}

.loginLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------- Cards -----------------------*/

.bg {
    background: url(../images/bg.avif) no-repeat center;
    background-image: linear-gradient(rgba(7, 0, 0, 0.5), var(--color6)), url(../images/bg.avif);
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    flex: 1;
}

.card-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

}

.card {
    width: 300px;
    background-color: var(--color4);
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
    margin: 30px;
}

.card-wrapper {
    flex: -1 0 calc(50% - 20px);
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0 0;
}

.card p {
    margin-top: 10px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.btn {
    display: inline-block;
    margin-right: 10px;
}


.btn-1 {
    background-color: var(--color6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 10px;
}

.btn-2 {
    background-color: var(--color1);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-1:hover,
.btn-2:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: var(--color2);
    color: var(--color4);
}

/*----------------------- Vista detalle -----------------------*/

/* Estilos para la sección de producto */
.product-container {
    background: var(--color4);
    color: var(--color5);
    margin: 5%;
    border-radius: 10px;
    padding: 5%;
    display: flex;
}

/* Estilos para los textos */
.product-container h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: var(--color5);
    margin-bottom: 1rem;
    font-weight: normal;
}

.product-info {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Estilos para la imagen del producto */
.product-image {
    max-width: 70%;
    height: auto;
    padding-bottom: 30px;
    margin-top: 30px;
}


/* Estilos para los incrementadores y decrementadores */
.increment-decrement-container {
    align-items: center;
    margin-top: 1rem;
}

.increment-decrement-input-group input {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    border: none;
    background-color: var(--color4);
    width: 1rem;
    border: 1px solid var(--color5);
}

.product-container .btn-1 {
    background-color: var(--color1);
    color: var(--color4);
    padding: 0.2rem;
    border-radius: 8%;
    font-size: 1rem;
    cursor: pointer;
    margin: 30px;
}

.product-container .btn-1:hover {
    background-color: var(--color2);
}

.product-container .btn-2 {
    background-color: var(--color4);
    color: var(--color4);
    cursor: pointer;
    margin-right: 0px;
    margin-left: 30px;
    border-radius: 8%;
}

.product-container .btn-2:hover ion-icon {
    color: var(--color2);
}

ion-icon[name="remove-circle"] {
    color: var(--color5);
    font-size: 1.5em;
    margin-right: 5px;
}

ion-icon[name="add-circle"] {
    color: var(--color5);
    font-size: 1.5em;
    margin-right: 5px;
}

/*----------------------- Buscador -----------------------*/

.contenedorS {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
}

.buscador {
    display: flex;
    align-items: center;
    background-color: var(--color4);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    flex-grow: 1;
}

select {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
}

button {
    border: none;
    outline: none;
    background-color: var(--color1);
    color: var(--color4);
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

button:hover {
    background-color: var(--color2);
    color: var(--color5);
}

/*----------------------- Vista checkout -----------------------*/

/* Estilos generales */
.contenedor {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}

.ventana {
    background-color: var(--color4);
    border-radius: 4px;
    padding: 20px;
    border-radius: 30px;
}


/* Estilos para la información de la orden */
.info-orden {
    width: 100%;
}

.contenido-info-orden {
    width: 100%;
}

.linea {
    width: 100%;
    height: 1px;
    background-color: #d2d2d2;
    margin: 20px 0;
}

/* Estilos para las imágenes de los productos */
.imagen-producto {
    width: 60px;
    height: 60px;
    object-fit: contain;
}


/* Estilos para la tabla */
.tabla-orden {
    width: 100%;
    border-collapse: collapse;
}

.tabla-orden tbody tr {
    border-bottom: 1px solid var(--color4);
}

.tabla-orden td {
    padding: 10px;
}

.ancho-completo {
    width: 100%;
}

.delgada {
    font-weight: normal;
}

.densa {
    line-height: 1.5;
}

.precio {
    font-weight: bold;
    font-size: 18px;
}

/* Estilos para el resumen total */
.total {
    overflow: auto;
    width: 100%;
}

.total span {
    display: block;
    font-size: 16px;
}

.total span div {
    margin-bottom: 5px;
}

/***Pago card****/

.pay-btn {
    border: none;
    background: var(--color1);
    line-height: 2em;
    border-radius: 10px;
    font-size: 19px;
    font-size: 1.2rem;
    color: var(--color4);
    cursor: pointer;
    bottom: 25px;
    width: calc(100% - 50px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pay-btn:hover {
    background: var(--color2);
    color: var(--color4);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.input-field {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    margin-top: 3px;
    line-height: 1.5em;
    font-size: 20px;
    font-size: 1.3rem;
    border: none;
    padding: 5px 10px 5px 10px;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.credit-info {
    background: var(--color6);
    /* width:auto; (elimina esta línea) */
    color: var(--color4);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    font-size: .9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    position: relative;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}

.icono-contenedor {
    display: flex;
    justify-content: flex-end;
}

.icono-tarjeta {
    font-size: 48px;
}

.cvc-cell {
    padding-left: 20px;
}

.credit-info-content {
    margin-top: 25px;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
/****/
.gracias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gracias h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color4);
}

.gracias p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--color4);
}

.gracias a {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color4);
}