* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Jost', sans-serif;
}

:root {
    --color1: #E30845;
    --color2: #FF3456;
    --color3: #A3A2A3;
    --color4: #FFFFFF;
    --color5: #141617;
    --color6: #252627;
}

/*----------------------- Body -----------------------*/
body {
    font-weight: 300;
    color: var(--color5);
    background: var(--color6);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/*----------------------- NavBar ------------------ -----*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color5);
    width: 100%;
    z-index: 100;
    position: relative;
}

.logo {
    margin-left: 20px;
}

.logo a img {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 60px;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    color: var(--color1);
    margin-top: 10px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.navIcon {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.navbar-links ul {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar-links ul li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar-links .nav-item a::before {
    content: "";
    height: 3px;
    width: 0%;
    background: var(--color1);
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.3s ease-out;
}

.navbar-links .nav-item a:hover::before {
    width: 100%;
}

/**DropDown**/
.nav-drop {
    margin-left: auto;
}


.nav-drop .dropdown-toggle {
    color: var(--color4);
    margin-left: auto;
}

.nav-drop .dropdown-toggle:hover {
    color: var(--color2);
}

.dropdown-menu {
    background-color: var(--color6);
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: var(--color4);
    font-size: 20px;
    padding: 10px 15px;
}

.dropdown-item:hover {
    background-color: var(--color4);
}

.dropdown-divider {
    border-top-color: var(--color3);
}

.nav-drop .dropdown-menu {
    right: 0;
    left: auto;
}

/*Icon */
.icon-link {
    font-size: 1.3em;
    margin-right: 5px;
    color: var(--color4);
    text-decoration: none;
}

.icon-link:hover {
    color: var(--color2);
}


/*Icon persona */
.login-btn {
    display: flex;
    align-items: center;
}

ion-icon[name="person-circle"] {
    font-size: 1.2em;
    margin-right: 5px;
}

/*----------------------- menu 2 -----------------------*/
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    width: 30px;
    height: 2px;
    background: white;
    margin-bottom: 6px;
}

/*----------------------- Content -----------------------*/
.content {
    padding: 50px;
    display: flex;
    position: absolute;
}

.table-btn {
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*----------------------- Footer -----------------------*/
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    width: 100%;
    margin-top: auto;
}

.footContainer {
    padding-top: 1em;
    text-align: center;
    margin-top: auto;
    bottom: 0;
}

.footerRow {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(0deg, var(--color5) 10%, var(--color1) 90%);
}

.grid1 img {
    display: flex;
    width: 80px;
}

.list-unstyled li a ion-icon {
    width: 50px;
}

.copyright {
    color: var(--color3);
    text-align: center;
    background: var(--color5);
}

@media screen and (min-width: 1000px) {
    footContainer {
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: 0;
        height: 80px;
    }
}

/* Pantallas pequeñas (1 tarjeta por línea) */
@media screen and (max-width: 767px) {
    .card-wrapper {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}

/* Pantallas medianas (2 tarjetas por línea) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .card-wrapper {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

/* Pantallas grandes (3 tarjetas por línea) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .card-wrapper {
        flex: 0 0 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

/* Pantallas extra grandes (4 tarjetas por línea) */
@media screen and (min-width: 1200px) {
    .card-wrapper {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

@media screen and (max-width: 1056px) {
    .hamburger-menu {
        display: inline-flex;
        margin-left: 30px;
    }
}

/*****************************************************************************************/

/*-----------------------HOME----------------------------------*/

/**Carrusel**/

.carousel-img {
    height: 600px;
    width: 100%;
    /* Cambia a 100% para que la imagen ocupe todo el ancho del contenedor */
    object-fit: cover;
    /* Cambia a cover para mantener la proporción de la imagen sin deformarla */
}

.carousel-item {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.carousel-item.active {
    opacity: 1;
    position: relative;
}

.card-container .rowHome {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Media queries para ajustar el diseño en función del ancho de la ventana del navegador */
@media (max-width: 1200px) {
    .carousel-img {
        height: 500px;
    }
}

@media (max-width: 992px) {
    .carousel-img {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .carousel-img {
        height: 300px;
    }
}


/*----------------------- Login -----------------------*/

/* Layout */
.bgImage {
    background: url(../images/bg.avif) no-repeat center;
    background-image: linear-gradient(rgba(7, 0, 0, 0.5), var(--color6)), url(../images/bg.avif);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLogin h1 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 30px;
}

.boxLogin img {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 60px;
}

.boxLogin {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.boxLogin p {
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.boxLogin form {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.boxLogin .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
    padding: 0;
}

.boxLogin .form-group label {
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 2px solid #eee;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.boxLogin form button {
    background-color: var(--color2);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 30px;
}

.boxLogin form button:hover {
    background-color: var(--color6);
}

.loginLink a {
    color: var(--color1);
    text-decoration: none;
    margin-bottom: 20px;
}

.loginLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------- Cards -----------------------*/

.bg {
    background: url(../images/bg.avif) no-repeat center;
    background-image: linear-gradient(rgba(7, 0, 0, 0.5), var(--color6)), url(../images/bg.avif);
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    flex: 1;
}

.card-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

}

.card {
    width: 300px;
    background-color: var(--color4);
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
    margin: 30px;
}

.card-wrapper {
    flex: -1 0 calc(50% - 20px);
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0 0;
}

.card p {
    margin-top: 10px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.btn {
    display: inline-block;
    margin-right: 10px;
}


.btn-1 {
    background-color: var(--color6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 10px;
}

.btn-2 {
    background-color: var(--color1);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-1:hover,
.btn-2:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: var(--color2);
    color: var(--color4);
}



/*----------------------- Vista detalle -----------------------*/

/* Estilos para la sección de producto */
.product-container {
    background: var(--color4);
    color: var(--color5);
    margin: 5%;
    border-radius: 10px;
    padding: 5%;
    display: flex;
}

/* Estilos para los textos */
.product-container h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: var(--color5);
    margin-bottom: 1rem;
    font-weight: normal;
}

.product-info {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Estilos para la imagen del producto */
.product-image {
    max-width: 70%;
    height: auto;
    padding-bottom: 30px;
    margin-top: 30px;
}


/* Estilos para los incrementadores y decrementadores */
.increment-decrement-container {
    align-items: center;
    margin-top: 1rem;
}

.increment-decrement-input-group input {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    border: none;
    background-color: var(--color4);
    width: 1rem;
    border: 1px solid var(--color5);
}

.product-container .btn-1 {
    background-color: var(--color1);
    color: var(--color4);
    padding: 0.2rem;
    border-radius: 8%;
    font-size: 1rem;
    cursor: pointer;
    margin: 30px;
}

.product-container .btn-1:hover {
    background-color: var(--color2);
}

/* Estilos para el botón restar */
.product-container .btn-2 {
    background-color: var(--color4);
    color: var(--color4);
    cursor: pointer;
    margin-right: 0px;
    margin-left: 30px;
    border-radius: 8%;
}

.product-container .btn-2:hover ion-icon {
    color: var(--color2);
}

ion-icon[name="remove-circle"] {
    color: var(--color5);
    font-size: 1.5em;
    margin-right: 5px;
}

ion-icon[name="add-circle"] {
    color: var(--color5);
    font-size: 1.5em;
    margin-right: 5px;
}


/*********/