<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/AdminTemplate::head"></head>

    <body>
        <!---Header-->
        <header th:replace="plantilla/AdminTemplate::header"></header>

        <!---Title-->
        <h2 style="color: white; text-align: center; padding: 20px;" th:text="${titulo}"></h2>
        <div class="table-btn">
            <!---Filtrar-->
            <div class="filtrar">
                <label style="color: white;">Mostrar
                    <select id="page-length">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> elementos
                    <button class="btn" style="color:white; background-color: #EB2546;" type="submit">Aplicar</button>
                </label>
            </div>
            <!---Buscars-->
            <div class="busqueda">
            </div>
            <form role="search">
                <input type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn" style="color:white; background-color: #EB2546;" type="submit">Buscar</button>
            </form>
            <!---Agregar-->
            <div class="agregar">
                <button class="btn btn-success" type="button"
                        onclick="window.location.href = '/admin/proveedor/nuevo'">Agregar</button>
            </div>
        </div>

        <div style="text-align: center; padding: 20px;">
            <table class="table">
                <thead class="thead-dark">
                    <tr style="color: white; background-color: #141617;">
                        <th scope="col">NOMBRE</th>
                        <th scope="col">CORREO</th>
                        <th scope="col">TELEFONO</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${proveedores}">
                    <tr style="background-color: #24272B; color: white;">
                        <td th:text="${user.getNombre}"></td>
                        <td th:text="${user.getCorreo}"></td>
                        <td th:text="${user.getTelefono}"></td>
                        <td width="15%" style="padding-bottom: 10px; padding-top: 10px;">
                            <a href="#!" style="color:yellow" th:href="@{/editar/proveedor/{id}(id=${user.getId})}"><ion-icon name="create-sharp"></ion-icon></a>
                            <a href="#!" style="color:red" th:href="@{/eliminar/proveedor/{id}(id=${user.getId})}" id="eliminar-${
                                   user.getId
                               }"><ion-icon name="trash-sharp"></ion-icon></a>
                        </td>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <footer th:replace="plantilla/AdminTemplate::footer"></footer>

        <script>
            const eliminarLinks = document.querySelectorAll('[id^="eliminar-"]');
            eliminarLinks.forEach(eliminarLink => {
                eliminarLink.addEventListener('click', e => {
                    e.preventDefault();
                    const confirmacion = confirm('¿Estás seguro/a de que deseas eliminar?');
                    if (confirmacion) {
                        window.location.href = eliminarLink.getAttribute('href');
                    }
                });
            });
        </script>

    </body>

</html>