<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/AdminTemplate::head"></head>

    <body>
        <!---Header-->
        <header th:replace="plantilla/AdminTemplate::header"></header>

        <!---Title-->
        <h2 style="color: white; text-align: center; padding: 20px;" th:text="#{admin.usuarios}"></h2>
        <div class="table-btn">

            <!---Buscars-->
            <form role="search">
                <input th:placeholder="#{btn.buscar}" type="search" placeholder="Buscar" aria-label="Buscar">
                <button th:text="#{btn.buscar}" class="btn" style="color:white; background-color: #EB2546;" type="submit">Buscar</button>
            </form>
            <!---Agregar-->
            <div class="agregar">
                <button th:text="#{btn.agregar}" class="btn btn-success" type="button"
                        onclick="window.location.href = '/admin/usuario/nuevo'">Agregar</button>
            </div>
        </div>

        <div style="text-align: center; padding: 20px;">
            <table class="table">
                <thead class="thead-dark">
                    <tr style="color: white; background-color: #141617;">
                        <th th:text="#{tabla.nombre}" scope="col">NOMBRE</th>
                        <th th:text="#{tabla.apellido1}" scope="col">APELLIDO</th>
                        <th th:text="#{tabla.telefono}" scope="col">TELEFONO</th>
                        <th th:text="#{tabla.cedula}" scope="col">CEDULA</th>
                        <th th:text="#{tabla.canton}" scope="col">CANTON</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${usuarios}">
                    <tr style="background-color: #24272B; color: white;">
                        <td th:text="${user.getNombre}"></td>
                        <td th:text="${user.getApellido1}"></td>
                        <td th:text="${user.getTelefono}"></td>
                        <td th:text="${user.getCedula}"></td>
                        <td th:text="${user.getCanton.getNombre}"></td>                                              
                        <td width="15%" style="padding-bottom: 10px; padding-top: 10px;">
                            <a href="#!" style="color:yellow" th:href="@{/editar/usuario/{id}(id=${user.getId})}"><ion-icon name="create-sharp"></ion-icon></a>
                            <a href="#!" style="color:red" th:href="@{/eliminar/usuario/{id}(id=${user.getId})}" id="eliminar-${
                                   user.getId
                               }"><ion-icon name="trash-sharp"></ion-icon></a>
                        </td>
                        </td>
                    </tr>
                </th:block>
               
                
                </tbody>
            </table>
        </div>

        <footer th:replace="plantilla/AdminTemplate::footer"></footer>

        <script>
            const eliminarLinks = document.querySelectorAll('[id^="eliminar-"]');
            eliminarLinks.forEach(eliminarLink => {
                eliminarLink.addEventListener('click', e => {
                    e.preventDefault();
                    const confirmacion = confirm('¿Estás seguro/a de que deseas eliminar?');
                    if (confirmacion) {
                        window.location.href = eliminarLink.getAttribute('href');
                    }
                });
            });
        </script>

    </body>

</html>