<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/AdminTemplate::head"></head>

    <body>
        <!---Header-->
        <header th:replace="plantilla/AdminTemplate::header"></header>

        <!---Title-->
        <h2 style="color: white; text-align: center; padding: 20px;" th:text="#{admin.usuarios}"></h2>
        <div class="table-btn">

            <!---Buscars-->
            <form role="search">
                <input th:placeholder="#{btn.buscar}" type="search" placeholder="Buscar" aria-label="Buscar">
                <button th:text="#{btn.buscar}" class="btn" style="color:white; background-color: #EB2546;" type="submit">Buscar</button>
            </form>
            <!---Agregar-->
            <div class="agregar">
                <button th:text="#{btn.agregar}" class="btn btn-success" type="button"
                        onclick="window.location.href = '/admin/DatosLoginRol/add'">Agregar</button>
            </div>
        </div>

        <div style="text-align: center; padding: 20px;">
            <table class="table">
                <thead class="thead-dark">
                    <tr style="color: white; background-color: #141617;">
                        <th th:text="#{tabla.correo}"scope="col">Email</th>
                        <th th:text="#{tabla.rol}" scope="col">Roles</th>     
                        <th scope="col"></th>    
                        <th scope="col"></th>  
                    </tr>
                </thead>
                <tbody>                      
                <th:block th:with="i=0" th:each="user, iter : ${rolUsuario}">
                    <tr style="background-color: #24272B; color: white;">    
                        <td  th:text="${user.getEmail()}"></td>                     
                        <td   th:each="rol : ${user.getRoles}"  th:text="${rol.getRol()} + ' '"></td>                             
                        <td width="15%" style="padding-bottom: 10px; padding-top: 10px;"></td>
                        <td width="15%" style="padding-bottom: 10px; padding-top: 10px;">
                    <th:block th:each="rol : ${user.getRoles}">                               
                        <a href="#!" style="color:yellow" th:href="@{/editar/RoldatosLogin/{id}/{rol_id}(id=${user.getId},rol_id=${rol.getId})}"><ion-icon name="create-sharp"></ion-icon></a>                    
                        <a href="#!" style="color:red" th:href="@{/eliminar/datosLogin/{id}/{rol_id}(id=${user.getId},rol_id=${rol.getId})}" id="eliminar-${
                               user.getId
                           }"><ion-icon name="trash-sharp"></ion-icon></a>
                        </tr>                                
                    </th:block>  </td>
                    </tr>
                </th:block>


                </tbody>
            </table>
        </div>

        <footer th:replace="plantilla/AdminTemplate::footer"></footer>

        <script>
            const eliminarLinks = document.querySelectorAll('[id^="eliminar-"]');
            eliminarLinks.forEach(eliminarLink => {
                eliminarLink.addEventListener('click', e => {
                    e.preventDefault();
                    const confirmacion = confirm('¿Estás seguro/a de que deseas eliminar?');
                    if (confirmacion) {
                        window.location.href = eliminarLink.getAttribute('href');
                    }
                });
            });
        </script>

    </body>

</html>