<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/AdminTemplate::head"></head>

    <body>
        <!---Header-->
        <header th:replace="plantilla/AdminTemplate::header"></header>

        <!---Contenido-->
        <div class="d-grid mx-auto mb-4 row col-10" style="background-color:  #24272B; color: white; margin: 5%;">
            <div class="card-header bg-black text-white"></div>
            <div class="card-body">
                <div class="container">
                    <form th:object="${evento}"
                          th:action="@{/save/evento}"
                          method="POST">
                        <!---Titulo-->
                        <h2 style="color: white; text-align: center; padding: 20px;" th:text="${titulo}"></h2>                    
                        <!---Nombre-->
                        <div class="form-group mb-4 row   col-8 mx-auto">
                            <label class="col-md-2 col-form-label" for="nombre">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{nombre}"
                                       placeholder="Nombre" id="nombre" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <!---Fecha-->
                        <div class="form-group mb-4 row   col-8 mx-auto">
                            <label class="col-md-2 col-form-label" for="fecha">Fecha</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control form-control-sm col-md-6" th:field="*{fecha}"
                                       placeholder="fecha" id="nombre" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <!---Precio-->
                        <div class="form-group mb-4 row   col-8 mx-auto">
                            <label class="col-md-2 col-form-label" for="precio">Precio</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{precio}"
                                       placeholder="Precio" id="precio" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <!---Detalle-->
                        <div class="form-group mb-4 row   col-8 mx-auto">
                            <label class="col-md-2 col-form-label" for="detalle">Detalle</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{detalle}"
                                       placeholder="Detalle" id="detalle" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <!---Dirección-->
                        <div class="form-group mb-4 row   col-8 mx-auto">
                            <label class="col-md-2 col-form-label" for="direccion">Dirección </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{direccion}"
                                       placeholder="Dirección" id="direccion" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <!---Stock-->
                        <div class="form-group mb-4 row   col-8 mx-auto">
                            <label class="col-md-2 col-form-label" for="stock">Stock</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{stock}"
                                       placeholder="Stock" id="stock" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <!---Imagen-->
                        <div class="form-group mb-4 row   col-8 mx-auto">
                            <label class="col-md-2 col-form-label" for="imagen">Imagen</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{imagen}"
                                       placeholder="Imagen" id="imagen" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <!---Tipo-->
                        <div class="form-group mb-4 row  col-8 mx-auto">
                            <label class="form-control-sm col-form-label col-md-2" for="tipoproducto">Tipo Producto</label>
                            <div class="col-sm-10">
                                <select th:field="*{tipoProducto}" class="form-control form-control-sm col-md-6" id="tipoProducto" aria-describedby="emailHelp">
                                    <option th:each="x:${tipoProducto}"
                                            th:value="${x.id}"
                                            th:text="${x.tipo}"/>
                                </select>
                            </div>
                        </div>
                        <!---Provincia-->
                        <div class="form-group mb-4 row  col-8 mx-auto">
                            <label class="form-control-sm col-form-label col-md-2" for="provincia">Provincia</label>
                            <div class="col-sm-10">
                                <select th:field="*{provincia}" class="form-control form-control-sm col-md-6" id="provincia" aria-describedby="emailHelp">
                                    <option th:each="x:${provincia}"
                                            th:value="${x.id}"
                                            th:text="${x.nombre}"/>
                                </select>
                            </div>
                        </div>
                        <!---Cantones-->
                        <div class="form-group mb-4 row  col-8 mx-auto">
                            <label class="form-control-sm col-form-label col-md-2" for="canton">Canton</label>
                            <div class="col-sm-10">
                                <select th:field="*{canton}" class="form-control form-control-sm col-md-6" id="canton" aria-describedby="emailHelp">
                                    <option th:each="x:${canton}"
                                            th:value="${x.id}"
                                            th:text="${x.nombre}"/>
                                </select>
                            </div>
                        </div>
                        <!---Distrito-->
                        <div class="form-group mb-4 row  col-8 mx-auto">
                            <label class="form-control-sm col-form-label col-md-2" for="distrito">Distrito</label>
                            <div class="col-sm-10">
                                <select th:field="*{distrito}" class="form-control form-control-sm col-md-6" id="distrito" aria-describedby="emailHelp">
                                    <option th:each="x:${distrito}"
                                            th:value="${x.id}"
                                            th:text="${x.nombre}"/>
                                </select>
                            </div>
                        </div>

                        <!---Botones-->
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <button type="submit" class="btn btn-primary" value="Guardar">ENVIAR</button>
                            <a class="btn btn-danger " href="/admin/evento">CANCELAR</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!---Footer-->
        <footer th:replace="plantilla/AdminTemplate::footer"></footer>

    </body>

</html>