<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/Template::head"></head>

    <body>
        <!---Header-->
        <header th:replace="plantilla/Template::header"></header>

        <!---Contenido-->
        <div class="d-grid mx-auto mb-4 row col-10" style=" background-color: #000000; border-radius: 25% 10%; color: white;margin-top: 5px; margin-bottom: 5px">
            <div class="card-header bg-black text-white"></div>
            <div class="card-body">
                <div class="container">
                    <form th:action="@{/login}" method="post">
                        <!---Titulo-->
                        <h2 style="color: white; text-align: center; padding: 20px;" th:text="${titulo}"></h2>                    
                        <!---Nombre-->
                        <div class="form-group">
                            <label  for="email">Email : </label> <input id="email"  name="email" type="text" class="form-control"
                                                                        required autofocus="autofocus" placeholder="Digite su email ID">
                        </div>
                        <!---Apellido 1-->
                        <div class="form-group">
                            <label  for="password">Password : </label> <input
                                id="password" type="password"  name="password" class="form-control" required
                                autofocus="autofocus" placeholder="Digite su password">
                        </div>                 


                        <!---Botones-->
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <br
                            <button type="submit" class="btn btn-primary" value="Guardar">INGRESAR</button>
                            <a class="btn btn-danger " href="/tienda_home">CANCELAR</a>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>

        <!---Footer-->
        <footer th:replace="plantilla/AdminTemplate::footer"></footer>

    </body>

</html>