<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"     xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head th:replace="plantilla/Template::head"></head>

    <body class="bodyLogin">
        <!---Header-->
        <header th:replace="plantilla/Template::header"></header>

        <!---Contenido-->
        <br>
        <div class="d-grid mx-auto mb-4 row col-3" style=" background-color: #000000; border-radius: 25% 10%; color: white;margin-top: 30px; margin-bottom: 5px">
            <div class="card-header bg-black text-white"></div>
            <div class="card-body">
                <div class="container">
                    <form th:action="@{/login}" method="post">

                        <div th:if=${param.error}>
                            <div class="alert alert-danger">Usuario o contraseña
                                inválidos</div>
                        </div>

                        <div th:if=${param.logout}>
                            <div class="alert alert-info">Ha cerrado sesión exitosamente
                            </div>
                        </div>
                        <!---Titulo-->
                        <h2 style="color: white; text-align: center; padding: 20px;" th:text="${titulo}"></h2>                    
                        <!---Nombre-->
                        <div class="form-group">
                            <label  for="email">Email : </label> <input id="username"  name="username" type="text" class="form-control"
                                                                        required autofocus="autofocus" placeholder="Digite su email ID">
                        </div>
                        <!---Apellido 1-->
                        <div class="form-group">
                            <label  for="password">Password : </label> <input
                                id="password" type="password"  name="password" class="form-control" required
                                autofocus="autofocus" placeholder="Digite su password">
                        </div>                 


                        <!---Botones-->
                       
                            <br>
                            <ul class="navIcon position: relative; padding-bottom: 40px;">                                                   
                                    <button type="submit" class="btn btn-success display: inline-block;">INGRESAR</button>                                  
                                  <a class="btn btn-danger  display: inline-block;  position: absolute; bottom: 0; " href="/tienda_home">CANCELAR</a>
                                 </ul>
   
                        <br>
                    </form>
                </div>
            </div>
        </div>

        <!---Footer-->
        <footer th:replace="plantilla/AdminTemplate::footer"></footer>

    </body>

</html>