<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaft.org/extras/spring-security">

<head th:replace="plantilla/Template::head"></head>

<body class="bodyLogin">
    <!---Header-->
    <header th:replace="plantilla/Template::header"></header>

    <div class="bgImage">

        <div class="boxLogin">
            <h1 th:text="#{login.titulo}">¡Bienvenido de nuevo!</h1>
            <img src="/images/logo2.png" alt="BikeLab">
            <p th:text="#{login.texto}">Inicie sesión con su información personal</p>

            <!---Msj 1-->
            <div th:if=${param.error}>
                <p class="alert alert-danger">Usuario o contraseña inválidos</p>
            </div>
            <!---Msj 2-->
            <div th:if=${param.logout}>
                <p class="alert alert-info">Ha cerrado sesión exitosamente</p>
            </div>

            <form th:action="@{/login}" method="post">
            <div class="form-group">
                <!---User-->
                <label th:text="#{login.correo}" for="email">Correo</label>
                <input id="username" name="email" type="text" class="form-control" required autofocus="autofocus"
                    placeholder="Correo">
            </div>
            <div class="form-group">
                <!---Pass-->
                <label th:text="#{login.contrasenia}" for="password">Contraseña</label>
                <input id="password" type="password" name="password" class="form-control" required autofocus="autofocus"
                    placeholder="Contraseña">
            </div>                
                
            <!---Btn-->
            <button th:text="#{login.btn}" type="submit" class="btn btn-success">Iniciar sesión</button>
            </form>
            <div class="loginLink">
                <a th:text="#{login.crear}" href="/login/nuevo">Crear una cuenta</a>
            </div>
        </div>
    </div>

    <!---Footer-->
    <footer th:replace="plantilla/Template::footer"></footer>

</body>

</html>