<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="plantilla/Template::head"></head>

<body>
    <!---Header-->
    <header th:replace="plantilla/Template::header"></header>

    <div class="bgImage">

        <div class="boxLogin">
            <h1 th:text="#{registrar.titulo}">¡Hola, Cletero!!</h1>
            <img src="/images/logo2.png" alt="BikeLab">
            <p th:text="#{registrar.texto}">Ingresa tus datos personales y comienza tu viaje con nosotros</p>

            <!---Msj 1-->
            <div th:if=${param.exito}>
                <p class="alert alert-success">Se ha registrado exitosamente</p>
            </div>
            <!---Msj 2-->
            <div th:if=${param.error}>
                <p class="alert alert-danger" role="alert">El email ya se encuentra registrado</p>
            </div>
            <!---Form-->
            <form th:object="${usuario}" th:action="@{/save/login}" method="POST">
                <!---User-->
                <div class="form-group">
                    <label th:text="#{registrar.correo}" for="nombre">Correo</label>
                    <input th:placeholder="#{registrar.correo}" type="text" class="form-control" th:field="*{email}" placeholder="Correo"
                        aria-describedby="emailHelp">
                </div>
                <!---Pass-->
                <div class="form-group">
                    <label th:text="#{registrar.contrasenia}" for="password">Contraseña</label>
                    <input th:placeholder="#{registrar.contrasenia}" th:field="*{password}" id="password" type="password" name="password" class="form-control"
                        required autofocus="autofocus" placeholder="Contraseña">
                </div>

                <div  class="form-group" hidden>
                    <label for="rol">Rol de usuario</label>
                    <div type="hidden" class="col-sm-10">
                        <select th:field="*{roles}" class="form-control form-control-sm col-md-6" id="rol"
                            aria-describedby="emailHelp">
                            <option th:each="x:${rol}" th:value="${x.id}" th:text="${x.rol}" />
                        </select>
                    </div>
                </div>

                <!---Btn-->
                <button th:text="#{registrar.btn}" type="submit" class="btn btn-primary" value="Guardar">Inscribirse</button>
            </form>
            <div class="loginLink">
                <a th:text="#{login.btn}" href="/login">Iniciar sesión</a>
            </div>
        </div>
    </div>

    <!---Footer-->
    <footer th:replace="plantilla/AdminTemplate::footer"></footer>

</body>

</html>