<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/Template::head"></head>

    <body>
        <!---Header-->
        <header th:replace="plantilla/Template::header"></header>

        <!---Contenido-->
        <div class=" product-container">
            <div class="card-header bg-black text-white"></div>
            <div class="container">
                <h3 class="mb-3"><strong> </strong><span th:text="${evento.nombre}"></span></h3>
                <h4 class="mb-3"><strong> </strong><span th:text="${evento.fecha}"></span></h4>
                <div class="text-center">
                    <img id="preview" th:src="${evento.getImagen}" alt="imagen" class="product-image">
                </div>
                <h4 class="mb-3"><strong th:text="#{tienda.precio}">Precio: </strong>₡<span th:text="${evento.precio}"></span></h4>
                <h4 class="mb-3"><strong th:text="#{tienda.detalle}">Detalle: </strong><span th:text="${evento.detalle}"></span></h4>
                <h4 class="mb-3"><strong th:text="#{tienda.stock}">Stock: </strong><span th:text="${evento.stock}"></span></h4>
                <h4 class="mb-3"><strong th:text="#{tienda.tipo}">Tipo de Producto: </strong><span th:text="${evento.tipoProducto.tipo}"></span></h4>
                <h4 class="mb-3"><strong th:text="#{tienda.provincia}">Provincia: </strong><span th:text="${evento.provincia.nombre}"></span></h4>
                <h4 class="mb-3"><strong th:text="#{tienda.canton}">Canton: </strong><span th:text="${evento.canton.nombre}"></span></h4>
                <h4 class="mb-3"><strong th:text="#{tienda.distrito}">Distrito: </strong><span th:text="${evento.distrito.nombre}"></span></h4>
                <h4 class="mb-3"><strong th:text="#{tienda.direccion}">Dirección: </strong><span th:text="${evento.direccion}"></span></h4>


            </div>
        </div>

        <footer th:replace="plantilla/Template::footer"></footer>
    </body>

</html>