<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="plantilla/Template::head"></head>

<body>
    <!---Header-->
    <header th:replace="plantilla/Template::header"></header>

    <!-- Carousel  -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
                <img class="d-block w-100 carousel-img" src="../images/banner1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="#{home.carrusel1Titulo}"></h5>
                    <p th:text="#{home.carrusel1Texto}"></p>
                </div>
            </div>
            <div class="carousel-item" data-interval="3000">
                <img class="d-block w-100 carousel-img" src="../images/banner2.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="#{home.carrusel2Titulo}"></h5>
                    <p th:text="#{home.carrusel2Texto}"></p>
                </div>
            </div>
            <div class="carousel-item" data-interval="3000">
                <img class="d-block w-100 carousel-img" src="../images/banner3.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="#{home.carrusel3Titulo}"></h5>
                    <p th:text="#{home.carrusel3Texto}"></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>

    <!-- Buscador -->
    <div class="contenedorS">
        <div class="buscador">
            <input th:placeholder="#{btn.buscar}" type="text" placeholder="Buscar..." name="search">
            <select name="category">
                <option th:text="#{tienda.all}" value="opcion0"></option>
                <option th:text="#{tienda.bicicletas}" value="opcion1"></option>
                <option th:text="#{tienda.componentes}" value="opcion2"></option>
                <option th:text="#{tienda.vestimenta}" value="opcion3"></option>
                <option th:text="#{tienda.accesorios}" value="opcion4"></option>
            </select>
            <button th:text="#{btn.buscar}" type="submit">Buscar</button>
        </div>
    </div>

    <!--Bicicletas-->
    <h1 th:text="#{tienda.bicicletas}" style="color: white; text-align: center; margin-top: 30px;">Bicicletas</h1>

    <div class="card-container" style="justify-content: center;">
        <th:block th:each="producto, iterStat : ${productos}" class="card-wrapper mb-4">
            <th:block th:if="${iterStat.index < 3}">
                <div class="card">
                    <h4 class="card-title" th:text="${producto.getNombre}"></h4>
                    <img th:src="${producto.getImagen}" class="card-img-top" alt="no_image"
                        onerror="this.src='../images/no_image.jpg';">
                    <div class="card-body">
                        <h6 class="card-subtitle" th:text="${producto.getModelo}"></h6>
                        <h5 class="mb-3"><strong></strong>₡<span th:text="${producto.precio}"></span></h5>
                        <a th:text="#{btn.detalles}" href="#" class="btn btn-1"
                            th:href="@{/producto/{id}(id=${producto.getId})}">Detalles</a>
                        <a th:text="#{btn.agregar}" href="#" class="btn btn-2">Agregar</a>
                    </div>
                </div>
            </th:block>
        </th:block>
    </div>
    <div class="button-container">
        <a th:text="#{btn.VerMas}" href="/bicicletas" class="btn btn-2" style="margin-bottom: 30px;">Ver más</a>
    </div>

    <!-- Informativo -->
    <div class="InfoHome" style="margin-bottom: 30px;">
        <img class="d-block w-100 carousel-img" src="../images/home1.jpg" alt="Third slide">
    </div>

    <!--Eventos-->
    <h1 th:text="#{tienda.eventos}" style="color: white; text-align: center; margin-top: 30px;">Eventos</h1>
    <div class="card-container" style="justify-content: center;">
        <th:block th:each="evento, iterStat : ${eventos}" class="card-wrapper mb-4">
            <th:block th:if="${iterStat.index < 3}">

                <div class="card">
                    <h4 class="card-title" th:text="${evento.getNombre}"></h4>
                    <img th:src="${evento.getImagen}" class="card-img-top" alt="no_image"
                        onerror="this.src='../images/no_image.jpg';">
                    <div class="card-body">
                        <h6 class="card-subtitle" th:text="${evento.getFecha}"></h6>
                        <h5 class="mb-3"><strong></strong>₡<span th:text="${evento.precio}"></span></h5>
                        <a href="#" class="btn btn-1" th:href="@{/evento/{id}(id=${evento.getId})}">Detalles</a>
                        <a href="#" class="btn btn-2">Agregar</a>
                    </div>
                </div>
            </th:block>
        </th:block>
    </div>
    <div class="button-container">
        <a th:text="#{btn.VerMas}" href="/eventos" class="btn btn-2" style="margin-bottom: 30px;">Ver más</a>
    </div>

    <footer th:replace="plantilla/Template::footer"></footer>

    <script>

    </script>

</body>

</html>