<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/Template::head"></head>

    <body>
        <!---Header-->
        <header th:replace="plantilla/Template::header"></header>

        <!---PRODUCTOS-->
        <div class="bg" style="
             background: url(../images/img4.avif) no-repeat center;
             background-image: linear-gradient(rgba(7, 0, 0, 0.5), var(--color6)), url(../images/img4.avif);
             background-attachment: fixed;
             background-size: cover;
             padding: 30px;">

            <!---Vista Card datos-->
            <div class='credit-info contenedor'>
                <div class='credit-info-content'>
                        <form id="formulario-tarjeta" action="/carrito/checkout/procesar" method="POST" onsubmit="validarFormulario(event)">
                            <table class='half-input-table'>
                                <tr>
                                <h2 th:text="#{tarjeta.titulo}"></h2>
                                <div id="loader" style="display:none;">
                                    <img src="../images/loader.gif" alt="Loading...">
                                </div>
                                </tr>
                            </table>
                            <div class="icono-contenedor">
                                <ion-icon name="card-outline" class="icono-tarjeta"></ion-icon>
                            </div>
                            <h6 th:text="#{tarjeta.num}"></h6>
                            <input placeholder="0000 0000 0000 0000" class='input-field' name="cardNumber" required></input>
                            <h6 th:text="#{tarjeta.holdCard}"></h6>
                            <input th:placeholder="#{tarjeta.persona}" class='input-field' name="cardHolder" required></input>
                            <table class='half-input-table'>
                                <tr>
                                    <td> 
                                        <h6 th:text="#{tarjeta.date}"></h6>
                                        <input placeholder="MM/AA" class='input-field' name="expires" required></input>
                                    </td>
                                    <td class="cvc-cell">                        
                                        <h6 th:text="#{tarjeta.cvc}"></h6>
                                        <input placeholder="000" class='input-field' name="cvc" required></input>
                                    </td>
                                </tr>
                            </table>
                            <button th:text="#{tarjeta.btn}" class='pay-btn' type="submit">Checkout</button>
                        </form>
                </div>
            </div>

            <!---Vista de items-->
            <div class="contenedor">
                <div class="ventana">
                    <div class="info-orden">
                        <div class="contenido-info-orden">
                            <h2 th:text="#{tienda.carrito}">Resumen de la orden</h2>
                            <div class="linea"></div>
                            <table class="tabla-orden">
                                <tbody>
                                    <tr th:each="item, itemIndex : ${carrito}">
                                        <td>
                                            <img th:src="${item.producto.imagen}"
                                                 class="ancho-completo imagen-producto"></img>
                                        </td>
                                        <td>
                                            <br> <span style="font-weight: bold;"
                                                       th:text="${item.producto.nombre}">Nombre</span>
                                            <br> <span class="delgada" th:text="${item.producto.modelo}">Modelo</span>
                                            <br> <span class="delgada" th:text="${item.producto.marca.nombre}">Marca</span>
                                        </td>
                                        <td>
                                            <br> <span class="delgada" th:text="${item.cantidad}">Cantidad</span>
                                        </td>
                                        <td>
                                            <div class="delgada" th:text="${item.producto.precio}">₡</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="linea"></div>
                            <div class="total">
                                <span style="float:left;">TOTAL:</span>
                                <span style="float:right; text-align:right;">
                                    <span th:text="${total}"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---Cierro-->
        </div>
    </div>

    <footer th:replace="plantilla/Template::footer"></footer>
    <script>
        const eliminarLinks = document.querySelectorAll('[id^="eliminar-"]');
        eliminarLinks.forEach(eliminarLink => {
            eliminarLink.addEventListener('click', e => {
                e.preventDefault();
                const confirmacion = confirm('¿Estás seguro/a de que deseas eliminar?');
                if (confirmacion) {
                    window.location.href = eliminarLink.getAttribute('href');
                }
            });
        });

        function validarFormulario(event) {
            event.preventDefault();
            const form = document.getElementById('formulario-tarjeta');
            const cardNumber = form.cardNumber.value;
            const cardHolder = form.cardHolder.value;
            const expires = form.expires.value;
            const cvc = form.cvc.value;
            const alerta = 0;

            if (!validarCardNumber(cardNumber)) {
                alert('El número de tarjeta es inválido.');
                return;
            }

            if (!validarCardHolder(cardHolder)) {
                alert('El nombre del titular de la tarjeta es inválido.');
                return;
            }

            if (!validarExpires(expires)) {
                alert('La fecha de vencimiento es inválida.');
                return;
            }

            if (!validarCVC(cvc)) {
                alert('El código CVC es inválido.');
                return;
            }
            
            document.getElementById("loader").style.display = "block";

            setTimeout(function () {
                alert('Pago realizado con éxito!');
                window.location.href = "/carrito/checkout/procesar";
            }, 3000);
            
        }

        function validarCardNumber(cardNumber) {
            const regex = /^\d{16}$/;
            return regex.test(cardNumber);
        }

        function validarCardHolder(cardHolder) {
            const regex = /^[a-zA-Z\s]+$/;
            return regex.test(cardHolder);
        }

        function validarExpires(expires) {
            const regex = /^(0[1-9]|1[0-2])\/?([0-9]{4}|[0-9]{2})$/;
            return regex.test(expires);
        }

        function validarCVC(cvc) {
            const regex = /^\d{3}$/;
            return regex.test(cvc);
        }

    </script>

</body>

</html>