<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/Template::head"></head>

    <body>

        <!---PRODUCTOS-->
        <div class="bg" style="
             background: url(../images/img4.avif) no-repeat center;
             background-image: linear-gradient(rgba(7, 0, 0, 0.5), var(--color6)), url(../images/img4.avif);
             background-attachment: fixed;
             background-size: cover;
             padding: 30px;">

            <div class="gracias">
                <h1>Gracias por tu compra</h1>
                <p>Tu pedido ha sido confirmado.</p>
                <a href="/" class="btn btn-2" style="margin-bottom: 30px;">Regresar al home</a>
                <a href="http://localhost/carrito/?format=pdf" class="btn btn-2" style="margin-bottom: 30px;">Descargar factura</a>
            </div>

        </div>


    </body>

</html>