:root {
    --color1: #EB2546;
    --color2: #FF3456;
    --color3: #A3A2A3;
    --color4: #FFFFFF;
    --color5: #141617;
}

body {
    overflow: hidden;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: var(--color4);
}

.bg-primary{
    background: linear-gradient(0deg, rgba(20,22,23,1) 22%, rgba(235,37,70,1) 100%);
}


.logo a img {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    width: 5rem;
}



#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

#sidebar-container .menu a {
    text-decoration: none;
}

#sidebar-container .menu a ion-icon {
    margin-right: 10px;
}

#sidebar-container .bg-primary{
    background-color: var(--color1);
}